<h1>Listing outbounds</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outbounds.each do |outbound| %>
  <tr>
    <td><%= outbound.user_id %></td>
    <td><%= link_to 'Show', outbound %></td>
    <td><%= link_to 'Edit', edit_outbound_path(outbound) %></td>
    <td><%= link_to 'Destroy', outbound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outbound', new_outbound_path %>
