<p id="notice"><%= notice %></p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
  <b>Level:</b>
  <%= @user.level %>
</p>

<p>
  <b>Number:</b>
  <%= @user.number %>
</p>

<p>
  <b>Stripe unique:</b>
  <%= @user.stripe_unique %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
